<lable>
    <div>
        @DiscordData.Name: <span class="fw-bold">@DiscordData.PresenceCount</span> Online
    </div>
    <div>
        Invite Link:
        @if (!string.IsNullOrEmpty(DiscordData.InstantInvite))
        {
            <a href="@DiscordData.InstantInvite">Active</a>
        }
        else
        {
            <span class="fw-bolder">Inactive</span>
        }
    </div>
</lable>
<table class="table table-bordered table-striped rounded">
    <thead>
        <tr class="d-table-row">
            <th class="d-table-cell">Name</th>
            <th class="d-table-cell">Status</th>
            <th class="d-table-cell">Channel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in DiscordData.Members)
        {
            <tr class="d-table-row">
                <td class="d-table-cell"><img class="img-fluid rounded-3 discord_image_max_width" src="@user.AvatarUrl" alt="@user.Username" /> @user.Username</td>
                <td class="d-table-cell">@user.Status</td>
                <td class="d-table-cell">@DiscordData.Channels.FirstOrDefault(e => e.Id == user.ChannelId)?.Name</td>
            </tr>
        }
    </tbody>
</table>